/* 2017 CSS Mitoo all rights reserved. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* 시작  */

.row {
  width: 100%;
}

.col-1 {
  /* 100% / 12 / 1칸 */
  width: 8.33333333%;
}
.col-2 {
  /* 100% / 6 / 2칸 */
  width: 16.66666667%;
}
.col-3 {
  /* 100% / 4 / 3칸 */
  width: 25%;
}
.col-4 {
  /* 100% / 3 / 4칸 */
  width: 33.33333333%;
}
.col-5 {
  /* col-2 + col-5 * 2 = 100% / 5칸 */
  width: 41.66666667%;
}
.col-6 {
  /* 100% / 2 / 6칸(50%) */
  width: 50%;
}
.col-7 {
  /* col-5 + col-7 = 100% / 7칸 */
  width: 58.33333333%;
}
.col-8 {
  /* col-4 + col-8 = 100% / 8칸 */
  width: 66.66666667%;
}
.col-9 {
  /* col-3 + col-9 = 100% / 9칸 */
  width: 75%;
}
.col-10 {
  /* col-2 + col-10 = 100% / 10칸 */
  width: 83.33333333%;
}
.col-11 {
  /* col-1 + col-11 = 100% / 11칸 */
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
/* End of Grid sytem */

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
/* 자식요소가 absolute일 때를 위하여 */
  position: relative;
  text-align: center;
  padding: 3em 0;
  background-color: none;
  border: 1px solid rgb(255, 255, 255);
}

.row {
  background-color: rgb(100, 100, 100);
}

.row::after {
  content: "";
  display: block;
  clear: both;
}
