@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Poppins');

/*스타일 초기화*/
html,body,div,header,nav,section,aside,article,footer,figure,
figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,fieldset{
	margin:0;
	padding:0;
}

/*숨긴 콘텐츠*/
.hidden, .skip-nav, legend {
  background: red;
  position: absolute;
  left: -9999em;
}
/*본문스타일*/
html{
  font-size: 10px;
}
body {
  margin: 0;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
	line-height: 1.5;
}
a {
  text-decoration: none;
}
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.header, .visual, .main-content, .slogan, .footer{
  margin: 0 auto;
  box-sizing: border-box;
}
.wrapper{
	width: 1440px;
	height: 100vh;
	margin: auto;
}

/* header */
.header{
  position: relative;
  height: 110px;
  width: 1440px;
}
.logo{
  position: absolute;
  top: 80px;
  left: 150px;
}
.main-menu{
	display: inline-block;
	position: absolute;
	top: 77px;
	left: 1012px;
}
.main-menu li{
	float: left;
	margin: 11px;
  color: rgb(172,172,172);
}

/* column1 */

.column1{
  height: 700px;
}
.wireframe{
  position: relative;
  height: 227px;
  width: 507px;
  top: 205px;
  left: 150px;
}
.wireframe-heading{
  font-family: 'Poppins SemiBold';
  font-size: 5rem;
}
.wireframe-text{
  color: rgb(199,199,199);
}
.btn-wireframe{
  margin-top: 30px;
  height: 51px;
  width: 200px;
  color: white;
  border: 1px solid rgb(3,166,123);
  border-radius: 4px;
  background: rgb(3,166,123);
}
.Pagination{
  position: absolute;
  left: 1352px;
  top: 408px;
}

/* column2 */
.column2{
  height: 600px;
}
.player{
  position: relative;
  top: 237px;
  left: 150px;
  width: 430px;
}
.player-heading{
  font-family: 'Poppins SemiBold';
  font-size: 44px;
  font-weight: bold;
}
.player-text{
  color: rgb(199,199,199);
  font-size: 16px;
}
.player-screen{
  position: relative;
  left: 730px;
}

/* column3 */
.column3{
  text-align: center;
}
.condition-01, .condition-02, .condition-03, .condition-04{
  width: 218px;
  display: inline-block;
  margin: 90px 40px 88px;
}
.numner{
  font-family:'Poppins Bold';
  font-weight: bold;
  font-size: 48px;
  color: rgb(3,166,123);
}
.condition-heading{
  font-family:'Poppins SemiBold';
  font-weight: bold;
  font-size: 14px;
  margin: -10px 0 5px;
}
.conditionr-text{
  font-size: 16px;
  color: rgb(199,199,199);
}

/* column4 */
.column4{
  height: 630px;
  text-align: center;
}
.column4-main{
  display: inline-block;
  width: 683px;
  margin-top: 106px;;
}
.column4-heading{
  font-family: 'Poppins SemiBold';
  font-size: 44px;
  font-weight: bold;
}
.column4-text{
  color: rgb(199,199,199);
  font-size: 16px;
}
.column4-list1, .column4-list2, .column4-list3{
  display: inline-block;
  width: 316px;
  margin: 71px 35px 96px;
}
.column4-list-heading{
  font-family: 'Poppins SemiBold';
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 8px 0;
}
.column4-list-text{
  color: rgb(199,199,199);
  font-size: 16px;
}

/* column5 */

.column5{
  text-align: center;
}
.stories{
  display: inline-block;
  margin-top: 100px;
  width: 689px;
}
.stories-heading{
  font-family: 'Poppins SemiBold';
  font-size: 44px;
}
.stories-text{
  color: rgb(199,199,199);
  font-size: 16px;
}
.stories-list ul{
  display: inline-block;
  width: 330px;
  margin: 70px 30px 100px;
}
.stories-list-heading{
  font-family: 'Poppins SemiBold';
  font-weight: bold;
  font-size: 14px;
  margin: 30px 0 20px 0;
}
.stories-list-text{
  color: rgb(199,199,199);
  font-size: 16px;
}

/* column6 */
.column6{
  text-align: center;
}
.team{
  display: inline-block;
  margin-top: 107px;
  width: 690px;
}
.team-heading{
  font-family: 'Poppins SemiBold';
  font-size: 44px;
}
.team-text{
  color: rgb(199,199,199);
  font-size: 16px;
}
.team-list{
  margin: 66px 0 67px 0;
}
.team-list li{
  display: inline-block;
  width: 368px;
  margin: 5px;
}
.team-list-text{
  background: rgb(232,232,232);
  text-align: center;
  border-radius: 5px;
  padding: 64px 0 60px 0;
  vertical-align: top;
}
.team-list-text p{
  display: inline-block;
  width: 258px;
  text-align: center;
  color: rgb(199,199,199);
  font-size: 16px;
}
.team-list-text span{
  display: inline-block;
  width: 258px;
  text-align: center;
  font-family: 'Poppins SemiBold';
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

/* footer  */
.footer-01{
  position: relative;
  width: 314px;
  top: 62px;
  left: 150px;
}
.footer-text{
  font-size: 16px;
  color: rgb(199,199,199);
  margin-top: 5px;;
}
.contact{
  width: 312px;
  position: relative;
  top: -15px;
  left: 537px;
}
.contact-heading, .subscribe-heading{
  font-family: 'Poppins SemiBold';
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}
.contact-text, .subscribe-text{
  color: rgb(199,199,199);
  font-size: 16px;
}
.subscribe{
  width: 367px;
  position: relative;
  left: 924px;
  top: -145px;
}
.input-search{
  width: 312px;
  height: 40px;
  text-indent: 20px;
  background: rgb(232,232,232);
  border: none;
}
.btn-search{
  display: inline-block;
  width: 50px;
  height: 40px;
  background: rgb(3,166,123);
  border: none;
  margin: 0;
  vertical-align: middle;
}
.btn-search::after{
  content: ">";
  color: white;
  font-size: 20px;
  position: relative;
  top: 2px;
}
