@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Poppins');

/*스타일 초기화*/
html,body,div,header,nav,section,aside,article,footer,figure,
figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,fieldset{
	margin:0;
	padding:0;
	border: none;
}

/*숨긴 콘텐츠*/
.hidden, .skip-nav, legend {
  background: red;
  position: absolute;
  left: -9999em;
}
/*본문스타일*/
html{
  font-size: 10px;
}
body {
  margin: 0;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
	line-height: 1.5;
}
a {
  text-decoration: none;
}
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.header, .visual, .main-content, .slogan, .footer{
  margin: 0 auto;
  box-sizing: border-box;
}
.wrapper{
	width: 1440px;
	height: 100vh;
	margin: auto;
}

/* header */

.logo {
  position: absolute;
  top: 80px;
  left: 150px;
}

.main-menu {
  position: absolute;
  top: 90px;
  left: 245px;
  font-size: 14px;
}

.main-menu li {
  display: inline-block;
  margin: 10px;
  line-height: 1px;
}
